<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="/static/favicon.ico" type="image/ico">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/milligram.css">
    <link rel="stylesheet" href="/static/main.css">

    <title>Isamuni {{- if .title}}: {{ .title }} {{end}}</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navigation clearfix">
            <section class="container">
                <a class="navigation-title" href="/"><h1 class="title">Isamuni</h1></a>
                <ul class="navigation-list float-right">
                    <li class="navigation-item"><a class="navigation-link" href="/professionals">Professionisti</a></li>
                    <li class="navigation-item"><a class="navigation-link" href="/companies">Aziende</a></li>
                    <li class="navigation-item"><a class="navigation-link" href="/communities">Community</a></li>
                    <li class="navigation-item"><a class="navigation-link" href="/wiki">Wiki</a></li>
                    <li class="navigation-item"><a class="navigation-link" href="/search">Cerca</a></li>
                </ul>
            </section>
        </nav>

        <section class="login container clearfix">
            <span class="float-right">
                {{ if .currentUser }}
                    Hai acceduto come {{ .currentUser.Username }} <a href="/logout">Logout</a>, <a href="/me">Profilo</a>{{ if eq .currentUser.Role "admin" }}, <a href="/admin">Admin</a>{{ end }}
                {{ else }}
                    Non loggato <a href="/login?redir={{ .path }}">Effettua il login</a> per modificare i contenuti
                {{ end }}
            </span>
        </section>

        {{ if .flashes }}
        <section class="flashes container clearfix">
            {{ range .flashes }}
                <p class="flash">{{.}}</p>
            {{ end }}
        </section>
        {{ end }}

        <div class="container">