Inserisci qui una breve descrizione, massimo qualche riga. Riempi le sezioni rimanenti come preferisci, o eliminale se non le usi.

### Dati

- dati: in forma chiave-valore
- occupazione: Studente
- area: Catania
- settore: Sviluppo web 

### Descrizione

Puoi inserire qui una descrizione più lunga.

I paragrafi sono separati da una riga vuota

### Progetti

Qui i progetti a cui hai partecipato. Puoi inserire una lista così

- progetto 1
- progetto 2

### Links

Puoi inserire qui link e contatti. In forma testuale o come lista.

### Tags

Una lista di parole chiave separate da punto e virgola