{{ template "__header.html" . }}
<h1>Bevenuto in Isamuni!</h1>
<h4>Una panoramica sull'ambiente tech in Sicilia</h4>

<h3>Sfoglia</h3>
<ul>
    <li><a href="/communities">Community ({{.stats.NCommunities}})</a></li>
    <li><a href="/companies">Aziende ({{.stats.NCompanies}})</a></li>
    <li><a href="/professionals">Professionisti ({{.stats.NProfessionals}})</a></li>
    <li><a href="/wiki">Pagine del Wiki ({{.stats.NWiki}})</a></li>
</ul>

<h3>Ricerca nel database</h3>
<form action="/search">
    <input type="search" name="query" value="{{.query}}"></input>
    <input type="submit">
</form>

<h3>Cos'è Isamuni?</h3>
<p>
    È un progetto collaborativo, no-profit e open-source, che mira a fare da vetrina a community, aziende e professionisti nel territorio siciliano. Trovi <a href="https://docs.google.com/presentation/d/11mpmVVwxWYvVaMCGfrpNLSxiUXJTXd-bq7C0OBQFZFw/edit?usp=sharing">qui</a> una presentazione del progetto.
</p> 
<p>
    Isamuni è un progetto no-profit mantenuto da <a href="https://github.com/sic2">sic2</a> e <a href="https://github.com/vigliag">vigliag</a>.
    Isamuni è open-source (MIT) e disponibile su <a href="https://github.com/sic2/isamuni">GitHub</a>.
</p>
<p>
    Trovi qui la nostra <a href="/privacy">Privacy Policy</a>. Per qualsiasi domanda puoi contattarci a <a href="mailto:programmatori.a.catania+isamuni@gmail.com?Subject=Info%20Isamuni">isamuni@gmail.com</a>.
</p>

{{ template "__footer.html" }}