{{ template "__header.html" . }}
<div class="container">

{{ if and (eq .currentUser.Role "admin") (.versions) }}
    <h3>Versions</h3>
    <ul>
        {{ range .versions }}
            <li>{{.User.Username }} - {{.ID}}</li>
        {{ end }}
    </ul>
{{ end }}

{{ if .versions }}
    <p>Showing version: {{ .shownVersion }}</p>
{{ end }}

<form action="{{ or .action "/pages" }}" method="post">
    <label for="title">Name</label>
    <input type="text" name="title" id="title" placeholder="Title" value="{{.page.Title}}">
    {{ if eq .currentUser.Role "admin" }}
    <label for="slug">Slug (empty to autogenerate)</label>
        <input type="text" name="slug" id="slug" placeholder="Slug" value="{{.page.Slug}}">
    {{ end }}
    <label for="content">Content</label>
    <textarea name="content" id="content" placeholder="Content">{{ .shownContent }}</textarea>
    <input type="hidden" name="type" value="{{.page.Type.Int}}">
    <input type="Submit" value="Save {{ if eq .currentUser.Role "admin" }} and approve{{ end }}">
    
    <p>Your version will be saved to the database. You can re-edit it by editing the page. It will be visible to all users after admin approval</p>
</form>
</div>
<link rel="stylesheet" href="/static/simplemde.min.css">
<script src="/static/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE();
</script>
{{ template "__footer.html"}}