{{ template "__header.html" . }}

<h2>Ricerca</h2>

<form action="/search">
    <input type="search" name="query" value="{{.query}}"></input>
    <input type="submit">
</form>

{{ if or .professionals .companies .communities false }}
    <h2>Risultati ricerca:</h2>
{{ else }}
    <h2>Nessun risultato</h2>
{{ end }}


{{ if .communities }}
    <h3>Community</h3>
    <ul>
    {{ range .communities }}
        <li>
        <a href="{{ pageurl .Page }}">{{ .Page.Title }}</a> 
        {{ if .Fragments }}
        <ul>
        {{ range $key, $fragments := .Fragments }}
            <li><strong>{{ $key }}</strong>:
                {{ range $fragments }}
                    <span>{{ (sanitize .) }}</span>
                {{ end }}
            </li>
        {{ end }}
        </ul>
        {{ end }}
        </li>
    {{ end }}
    </ul>
{{ end }}


{{ if .companies }}
    <h3>Aziende</h3>
    <ul>
    {{ range .companies }}
        <li>
        <a href="{{ pageurl .Page }}">{{ .Page.Title }}</a> 
        {{ if .Fragments }}
        <ul>
        {{ range $key, $fragments := .Fragments }}
            <li><strong>{{ $key }}</strong>:
                {{ range $fragments }}
                    <span>{{ (sanitize .) }}</span>
                {{ end }}
            </li>
        {{ end }}
        </ul>
        {{ end }}
        </li>
    {{ end }}
    </ul>
{{ end }}

{{ if .professionals }}
    <h3>Professionisti</h3>
    <ul>
    {{ range .professionals }}
        <li>
        <a href="{{ pageurl .Page }}">{{ .Page.Title }}</a> 
        {{ if .Fragments }}
        <ul>
        {{ range $key, $fragments := .Fragments }}
            <li><strong>{{ $key }}</strong>:
                {{ range $fragments }}
                    <span>{{ (sanitize .) }}</span>
                {{ end }}
            </li>
        {{ end }}
        </ul>
        {{ end }}
        </li>
    {{ end }}
    </ul>
{{ end }}

{{ template "__footer.html" }}