{{ template "__header.html" . }}
<div class="container">

{{ if and (eq .currentUser.Role "admin") (.versions) }}
    <h3>Versioni della pagina</h3>
    <ul>
        {{ range .versions }}
            <li><a href="{{ pageurl $.page }}/edit?version={{.ID}}">{{.ID}}</a> di {{.User.Username }} aggiornata il {{datetime .UpdatedAt}} </li>
        {{ end }}
    </ul>
{{ end }}

{{ with .shownVersion }}
    <p>Mostrando la versione: {{.ID}} di {{.User.Username }} aggiornata il {{datetime .UpdatedAt}}</p>
{{ end }}

<form action="{{ or .action "/pages" }}" method="post">
    <input type="hidden" name="csrf" value="{{.csrf}}"></input>
    <label for="title">Nome</label>
    <input type="text" name="title" id="title" placeholder="Nome" value="{{.page.Title}}">
    {{ if eq .currentUser.Role "admin" }}
    <label for="slug">Slug (vuoto per autogenerare)</label>
        <input type="text" name="slug" id="slug" placeholder="Slug" value="{{.page.Slug}}">
    {{ end }}
    <label for="content">Contenuto</label>
    <textarea name="content" id="content" placeholder="Content">{{ .shownContent }}</textarea>
    <input type="hidden" name="type" value="{{.page.Type.Int}}">
    <input type="Submit" value="Salva {{ if eq .currentUser.Role "admin" }} e approva{{ end }}">
    
    <p>Le tue modifiche verranno memorizzate nel database, e saranno visibili agli altri utenti dopo l'approvazione di un admin</p>
</form>
</div>
<link rel="stylesheet" href="/static/simplemde.min.css">
<script src="/static/simplemde.min.js"></script>
<script>
    var simplemde = new SimpleMDE();
</script>
{{ template "__footer.html"}}