{{ template "__header.html" . }}
<h2>Index of {{.cat}}</h2>

<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Description</th>
        {{ if eq .cat "companies" "communities" }}
            <th>Area</th>
        {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ range .pages }}
            <tr>
                <td><a href="/{{$.cat}}/{{.ID}}">{{ .Title }}</a></td>
                <td>{{.Short}}</td>
                {{ if eq $.cat "companies" "communities" }}
                    <td>{{.Area}}</td>
                {{ end }}
            </tr>
        {{ end }}
    </tbody>
</table>


{{ if .currentUser }}
    <p class="float-right"><a href="/{{.cat}}/new">New page</a></p>
{{ end }}
{{ template "__footer.html" }}